@charset "UTF-8";

html,body {
	height:100%;
	overflow:hidden;
}
.main {
	height:calc(100vh - 3em);
	width:100%;
}
.vertical-expand {
	height:100%;
}
#conversation {
	height:calc(100% - 5em);
	overflow:auto;
}
form#msgForm {
	display:table-footer-group;
}
.footer {
	/* margin:1px;
	position: absolute;
	bottom: 0; */
	width: 100%;
	text-align:center;
	height: 3em;
	background-color: #f5f5f5;
}